<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>湖南腾众汽车销售服务有限公司</title>
  <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
  <link href="https://cdn.bootcss.com/fullPage.js/2.9.7/jquery.fullpage.min.css" rel="stylesheet">
  <link href="../css/index.css" rel="stylesheet">
</head>
<body>
  <audio src="http://pic.ibaotu.com/00/29/36/89k888piCmne.mp3" loop preload onpause="pause()" onplaying="play()"></audio>
  <img class="music" src="../img/bgmBtn-fbd2dc.svg" alt onclick="toggle()">
  <div id="fullpage">
            <div class="section s1">
                <!-- <img src="../img/head.jpg" alt class="bg"> -->
                <section>
                  <img src="../img/logo.png" alt>
                  <h3>湖南腾众汽车销售服务有限公司</h3>
                  <p class="p-1">欢迎您的到来</p>
                  <p class="p-3"></p>
                  <p class="p-2"><span>地址:</span>长沙市岳麓区麓谷汽车世界</p>
                </section>
            </div> 
             <div class="section s2">
                 <!-- <img src="../img/bg.jpg" alt  class="bg"> -->
                 <section>
                    <div>
                      <header>
                          <h3>公司简介</h3>
                          <p class="border"></p>
                      </header>
                      <main>
                        <span></span>
                        <p class="p-2">
                          上海大众长沙麓谷腾众4S店是发展速度最快的上汽大众六星级经销商（上汽六星级经销商湖南仅此两家），坐落于长沙市河西高新区麓谷汽车世界，是一家严格按照上海大众最新标准设计建造的现代化4S店，占地面积约20亩、建筑面积8000余平方米，店内包括双层办公区域及现代化标准维修车间，拥有最先进的设施，布局合理的专业展厅、维修车间、休闲区、儿童娱乐区、客户服务中心等服务区域，是迄今为止，湖南规模最大、装修最为豪华、维修设备最先进的集整车销售、零配件供应、售后服务、信息反馈、二手车置换等业务为一体的上海大众最新标准4S店。
                        </p>
                      </main>

                      <footer class="bottom">
                          <p class="border"></p>
                          <h4>

                            湖南腾众汽车销售服务有限公司
                          </h4>                        
                      </footer>
                    </div>
                </section>
             </div>
             <div class="section s3">
                <section>
                    <div>
                      <header>
                          <h3>公司文化</h3>
                          <p class="border"></p>
                      </header>
                      <main>
                          <p><span>企业使命：</span><font>为客户提供卓越车服务，让客户享受幸福车生活</font></p>
                          <p><span>企业愿景：</span><font>成为湖南最优秀的车生活服务品牌</font></p>
                          <p><span>企业精神：</span><font>激情 责任 梦想</font></p>
                          <p><span>核心价值：</span><font>用心服务，追求卓越</font></p>
                          <p><span>人文理念：</span><font>腾飞车 幸福路</font></p>
                      </main>

                      <footer class="bottom">
                          <p class="border"></p>
                          <h4>

                            湖南腾众汽车销售服务有限公司
                          </h4>                        
                      </footer>
                    </div>
                </section>
            </div> 
            <div class="section s4">
                <!-- <img src="../img/bg.jpg" alt  class="bg"> -->
                <section>
                  <div>
                      <header>
                          <h3>招聘岗位</h3>
                          <p class="border"></p>
                      </header>
                      <main>
                          <ul>
                              <li><span>销售顾问助理&nbsp;&nbsp;×5</span>|<span>薪资4-20K</span></li>
                              <li><span>服务顾问助理&nbsp;&nbsp;×5</span>|<span>薪资4-8K</span></li>
                              <li><span>二手车销售助理&nbsp;&nbsp;×2</span>|<span>薪资3-20K</span></li>
                              <li><span>配件专员&nbsp;&nbsp;×1</span>|<span>薪资4-8K</span></li>
                              <li><span>续保助理&nbsp;&nbsp;×6</span>|<span>薪资4-8K</span></li>
                              <li><span>市场专员&nbsp;&nbsp;×1</span>|<span>薪资4-5K</span></li>
                              <li><span>收营员&nbsp;&nbsp;×1</span>|<span>薪资3-4K</span></li>
                            </ul>
                      </main>

                      <footer class="bottom">
                          <p class="border"></p>
                          <h4>

                            湖南腾众汽车销售服务有限公司
                          </h4>                        
                      </footer>
                      <!-- <h3>招聘岗位</h3> -->
<!--                       
                      <p>
                        
                      </p> -->
                  </div>
                </section>
            </div>
            <div class="section s5">
              <!-- <img src="../img/bg.jpg" alt  class="bg"> -->
              <section>
                <div>
                    <header>
                        <h3>公司福利</h3>
                        <p class="border"></p>
                    </header>
                    <main>
                        <ul>
                          <li>保持包住</li>
                          <li>五险</li>
                          <li>节假日福利</li>
                          <li>免费瑜伽私教</li>
                          <li>免费桌球羽毛球场地</li>
                          <li>年终奖</li>
                          <li>通讯补贴</li>
                          <li>带薪年假 年终奖</li>
                          <!-- <li>湖南腾众销售服务有限公司</li> -->
                        </ul>
                    </main>

                    <footer class="bottom">
                        <p class="border"></p>
                        <h4>

                          湖南腾众汽车销售服务有限公司
                        </h4>                        
                    </footer>
                    
                </div>
              </section>
          </div>
          <div class="section s6">
            <div class="map">
                <span></span>
                <p>湖南腾众汽车销售服务有限公司</p>
                <p>夏女士：17773058916</p>
            </div>
            <!-- <img src="" alt=""> -->
          </div>
            <!-- <div class="section s5">
                <img src="../img/1.png" alt>
            </div> -->
        </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/fullPage.js/2.9.7/jquery.fullpage.min.js"></script>
  <script>
    $('#fullpage').fullpage({
                 navigation:'true',
                //  navigationColor:'#fff',
                 afterLoad(anchorLink,index){
                   console.log(index)
                   $('.s'+index).addClass('current')
                 },
                 onLeave(index){
                  $('.s'+index).removeClass('current')
                   
                   console.log(index,index)
                 }
             });
      document.querySelector('audio').play()
      $('.music').addClass('current')
      
      function pause(){
        console.log(12)
        $('.music').removeClass('current')
      }
      function play(){
        $('.music').addClass('current')
      }
      function toggle(){
        if(document.querySelector('audio').paused){
          document.querySelector('audio').play()
          play()
        }else{
          document.querySelector('audio').pause()
          pause()
        }
      }
  </script>
</body>
</html>